extends ../layout/index

block contain
    div.py-10
        h1.text-5xl.my-10.font-extrabold.text-center.text-stone-700 Casa
            span.font-normal Fácil
        h2.text-center.text-2xl.font-extrabold.text-stone-700= page

        if (errors)
            div.max-w-md.mx-auto.bg-rose-400.mt-4.py-2.px-4
                ul.list-disc
                each error in errors
                    li.text-white.uppercase.text-xs.p-1.font-bold.my-0= error.msg


        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" noValidate)
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                        input#email.w-full.px.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email de registro" type="email" name="email")
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="pwd") Password
                        input#pwd.w-full.px.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa un password" type="password" name="pwd")
                    
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/register") No tengo cuenta.
                        a.text-gray-500.text-xs(href="/auth/recovery-password") Olvide mi password.

                    Input(class="w-full bg-stone-600 hover:bg-stone-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Iniciar Sesión") 