extends ../layout/index

block contain
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= page

        if (errors)
            div.max-w-md.mx-auto.bg-red-400.mt-4.py-2.px-4
                ul.list-disc
                each error in errors
                    li.text-white.uppercase.text-xs.p-1.font-bold.my-0= error.msg

        div.mt-4.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/auth/register" noValidate)
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="name") Nombre
                        input#name.w-full.px.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu nombre" type="text" name="name" value=saved? saved.name:'')

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                        input#email.w-full.px.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email de registro" type="email" name="email" value=saved? saved.email:'')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="pwd") Password
                        input#pwd.w-full.px.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa un password" type="password" name="pwd")
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="rePwd") Repetir Password
                        input#rePwd.w-full.px.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repite el password" type="password" name="rePwd")

                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login") Ya tengo cuenta.
                        a.text-gray-500.text-xs(href="/auth/recovery-password") Olvide mi password.
                    
                    Input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")