extends ../layout/authenticated

block styles 
    link(rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css")
    meta(name="csrf-token" content=csrfToken)

block contain
    div.py-10
        h2.text-center.text-2xl.font-extrabold.text-stone-700= page

        div(class="bg-white shadow py-8 px-4 md:px-10 rounded mx-auto max-w-4xl my-8")
            form(method="POST" class="dropzone border-dashed rounded" id="my-form" action=`/my-properties/add-image/${property.id}`) 
                input(type="hidden" name="_csrf" value= csrfToken)

            h1(class="text-sm mt-5") Debug output:
            pre(id="output")

            Button(id="publish" class="w-full bg-stone-600 hover:bg-stone-700 text-white font-bold py-3 cursor-pointer mt-5" type="button") Publicar

block scripts
    script(src="/addImage.js")
