doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Casa Fácil | #{page}
        link(rel="icon" href="/img/casa_facil_logo.png" type="image/png")
        link(rel="stylesheet", href="/app.css")
        block styles
    body.min-h-screen.bg-gray-50

        include includes/header 

        main.mx-auto.container.mt-10.px-2
            block contain

        block scripts