header.bg-stone-600.p-4
    div.container.mx-auto.w-full.flex.justify-between.items-center
        div(class="flex items-center space-x-4")
            img(src="/img/casa_facil_logo.png" class="w-8")
            h1.text-3xl.text-white.font-extrabold.text-center Casa
                span.font-normal Fácil 

        nav(class="my-5 text-sm md:flex md:items-center md:gap-5 font-bold text-white hidden")
            a(href="") Mis propiedades
            a(href="") Mi Perfil
            a(href="" class="rounded bg-stone-700 py-2 px-10") Cerrar Sesion 